:root{
    --bcg-color:#001199;
    --primaey-color:#108e91;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--bcg-color);
}

.box{
    background-color:var(--primaey-color);
    padding: 30px;
    border-radius: 8px;
    width: 400px;
}

.qr-header h1{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    margin-bottom: 24px;
    text-transform: uppercase;
}
.qr-header input{
    width: 100%;
    margin-block: 12px;
}

.qr-header input ,select{
    padding: 8px;
    border-radius: 8px;
    font-size: 18px;
    outline: none;
    border: 2px solid #7fb7c7;
}

.qr-header label{
    color: #ffffff;
    font-size: 20px;
}

.qr-header div{
    display:flex;
    justify-content: space-between;
} 
.qr-footer{
    display:flex;
    justify-content: center;
}

.qr-footer a{
    background-color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 20px;
    margin-inline: 2px;
    color: var(--primaey-color);
    font-weight: 600;
    border: 2px solid #7fb7c7;
}

.qr-body{
    display:grid;
    place-items: center;
    padding: 20px;
}

.qr-body img{
    max-width: 100%;
    max-height: 100%;
    margin-block: 10px;
    padding: 20px;
    border:0.5px solid #7fb7c7;
    border-radius: 5px;
}

@media screen and (max-width:420px){
    .box{
        width: 80%;
    }
    .qr-footer a{
        padding: 12px;
        font-size: 16px;
    }
}